:root {
  --standwithukraine-color-yellow: #ffd500;
}

.standwithukraine {
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}

.standwithukraine.single {
  background: linear-gradient(0, var(--standwithukraine-color-yellow) 50%, var(--standwithukraine-color-blue) 50%);
  font-weight: 500;
  line-height: 2.5em;
}

.standwithukraine.double {
  line-height: 2em;
}

a.standwithukraine,
a.standwithukraine:focus,
a.standwithukraine:hover {
  display: block;
  text-decoration: none;
}

.standwithukraine .line {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  overflow: hidden;
  padding: 0 2em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
}

.standwithukraine .line.bigger {
  font-size: 1.5em;
}

.standwithukraine.double .line.first {
  background-color: var(--standwithukraine-color-blue);
  color: var(--standwithukraine-color-yellow);
}

.standwithukraine.single .line {
  color: white;
  text-shadow: 0 0 .5em black;
}

.standwithukraine.double .line.last {
  background-color: var(--standwithukraine-color-yellow);
  color: var(--standwithukraine-color-blue);
}
