.standwithukraine.contextual-region .contextual .contextual-links a {
  font-weight: initial;
  letter-spacing: initial;
  text-transform: initial;
}

.navbar-is-static-top .standwithukraine.contextual-region .contextual {
  z-index: 1010;
}
