:root {
  --standwithukraine-toolbar-social: 50px;
}

body:not(.toolbar-vertical) .standwithukraine.simple {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

body:not(.toolbar-vertical) .navbar-fixed-top {
  top: var(--standwithukraine-height-extra) !important;
}

body:not(.toolbar-vertical) .main-container {
  padding-top: calc(var(--standwithukraine-height-extra) + var(--standwithukraine-toolbar-social)) !important;
}

.standwithukraine.single {
  font-weight: 600;
}

@media (max-width: 599px) {
  body:not(.toolbar-vertical) .navbar-fixed-top {
    top: var(--standwithukraine-height) !important;
  }

  body:not(.toolbar-vertical) .main-container {
    padding-top: calc(var(--standwithukraine-height) + var(--standwithukraine-toolbar-social)) !important;
  }
}
