.navbar-is-fixed-top.toolbar-fixed.toolbar-tray-open.toolbar-vertical .standwithukraine.simple:not(.left):not(.right) {
  margin-left: 15rem;
}

.navbar-is-fixed-top.toolbar-fixed.toolbar-tray-open.toolbar-vertical.toolbar-fixed .standwithukraine.simple:not(.left):not(.right) {
  margin-left: 240px;
}

.standwithukraine.simple.left,
.standwithukraine.simple.right {
  position: fixed;
  top: 20vh;
  max-width: 30%;
  z-index: 1040;
}

.standwithukraine.simple.left {
  left: 0;
}

.standwithukraine.simple.right {
  right: 0;
}
