:root {
  --standwithukraine-toolbar-fixed: 39px;
  --standwithukraine-toolbar-flexiable: calc(var(--standwithukraine-toolbar-fixed) + 40px);
}

@media screen and (min-width: 768px) {
  body:not(.navbar-is-static-top, .navbar-is-fixed-top) {
    margin-top: 0 !important;
  }

  body.navbar-*:not(.navbar-is-static-top, .navbar-is-fixed-top) .standwithukraine.simple {
    margin-bottom: 15px;
  }
}

body.navbar-is-fixed-top {
  margin-top: calc(var(--standwithukraine-height) + 65px) !important;
}

body.navbar-is-fixed-top .standwithukraine.simple {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

body.navbar-is-fixed-top.toolbar-fixed .standwithukraine {
  top: var(--standwithukraine-toolbar-fixed);
}

body.navbar-is-fixed-top.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .standwithukraine {
  top: var(--standwithukraine-toolbar-flexiable);
}

.navbar-fixed-top {
  top: var(--standwithukraine-height) !important;
}

body.toolbar-fixed .navbar-fixed-top {
  top: calc(var(--standwithukraine-height) + var(--standwithukraine-toolbar-fixed)) !important;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
  top: calc(var(--standwithukraine-height) + var(--standwithukraine-toolbar-flexiable)) !important;
}
