{#
/**
 * @file
 * Default theme implementation for a standwithukraine element.
 *
 * Available variables:
 * - attributes: HTML attributes for a wrapper.
 * - tag: The wrapper tag name.
 * - url: The Url object.
 * - title_suffix: The contextual links.
 * - lines: The parts of message.
 * - single: Display the message's text as a single line.
 * - text: Phrase contained in the message.
 * - sizes: Which line(s) use a bigger font size?
 *
 * @see template_preprocess_standwithukraine()
 *
 * @ingroup themeable
 */
#}
<{{ tag }}{{ attributes }}>
  {{ title_suffix }}
  {% for line in lines %}
    <div{{ line.attributes }}>{{ line.content }}</div>
  {% endfor %}
</{{ tag }}>
